@font-face {
    font-family: 'cheri';
    src: url("C:/Users/Lizzy/Downloads/cheri.regular.ttf") format('truetype');
}

body{
    background-color: #add373;
    
}
.signupBox{
    border: 10px solid #7dc363;
    border-radius: 5px;
    font-family: cheri;
    width: 11%;
    padding-bottom: 1.88rem;
    margin-left: 70rem;
    margin-top: 30rem;
    scale:2;
}

h1,
html{
    font-family: cheri;
}

.signupbutton{
    margin-left: 3.13rem;
    background-color: #f2e4e7;
    border: 3px solid #db9fbd;
    border-radius: 5px;
    font-family: cheri;
    
    
}
.signupbutton:hover{
    background-color: #db9fbd;
    border: 3px solid #cf3f8e;
}
  
