.meter,
.meter2,
.meter3,
.meter4,
.meter5{
    width: 400px;
    height: 110px;
  }
  .meter::after{
    content: "Rent";
    position: relative;
    top:-65px;
    left:10px;
  }

  .meter2::after{
    content: "Shopping";
    position: relative;
    top:-65px;
    left:10px;
  }

  .meter3::after{
    content: "Insurance";
    position: relative;
    top:-65px;
    left:10px;
  }

  .meter4::after{
    content: "Food";
    position: relative;
    top:-65px;
    left:10px;
  }

  .meter5::after{
    content: "Other";
    position: relative;
    top:-65px;
    left:10px;
  }
  
  
  .meter::-webkit-meter-bar {
    background: #FCE8F1;
    border: 3px solid #C64189;
  }
  
  /* .meter::-moz-meter-bar {
    background: rgb(150, 96, 96);
  } */
  
  .meter::-webkit-meter-optimum-value {
    background: #F15D9B;
  }

.monthName{
    background-color: #ABE1F9;
    border-radius: 5px;
    width:200px;
    margin-left:330px;
    text-align: center;
    border-radius: 5px;
}
  
.headerForPopup{
    text-align: center;
}
.popUp{
    background-color: #B391C4;
    height:200px;
    width:230px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 3px solid #ABE1F9;
    display:none;

}
.inputBox{
    width:80px;
    /* inputbox for amount spent */
}
body{
  background-color: #52B7A9;
}
.budgetInput{
  float: right; 
  margin-right: 69%;
  margin-top: 40px;
  width:50px;
}