@font-face {
    font-family: 'cheri';
    src: url("C:/Users/Lizzy/Downloads/cheri.regular.ttf") format('truetype');
}

body{
    background-color: #add373;
    border: 10px solid #7dc363;
    border-radius: 5px;
    font-family: cheri;
    width: 15%;
    
    padding-bottom: 30px;
    
}

h1,
div{
    font-family: cheri;
}

button{
    margin-left: 50px;
    background-color: #f2e4e7;
    border: 3px solid #db9fbd;
    border-radius: 5px;
    font-family: cheri;
}
button:hover{
    background-color: #db9fbd;
    border: 3px solid #cf3f8e;
}
  
