body{
    background-color: #b390c4;
}
input[type="checkbox"]{
    border:3px solid #336d6f;
    background-color: #9bf0e4;
    height:20px;
    width:20px;
    -webkit-appearance: none;
    appearance: none;
    margin-left: 7px;
}
input[type="checkbox"]:hover{
    border:3px solid #C64189;
    background-color: #db9fbd;
    height:20px;
    width:20px;
    position: relative;
    margin-left: 7px;
}
input[type="checkbox"]:checked{
    border:3px solid #336d6f;
    background-color: #336d6f;
    height:20px;
    width:20px;
    position: relative;
    margin-left: 7px;
}

.textField,
.textField:focus{
    margin-left: 10px;
    border:3px solid #336d6f;
    outline:none;
    background-color: #52B7A9;
    font-family: cheri;
    /* height: 20px; */
}



button{
    margin-left: 5px;
    background-color: #4bb8b2;
    border: 3px solid #336d6f;
    border-radius: 5px;
    /* font-family: cheri; */
    
    
  }
  button:hover{
    background-color: #9bf0e4;
    border: 3px solid #4bb8b2;
  }
  html{
    font-family: cheri;
  }